</HEAD>
</TITLE>
     This Site is managed by Ansible.
     WebServer Info: 
      1. Hostname:- {{ ansible_hostname }}
      2. IPAddress: {{ ansible_default_ipv4.address }}
      3. OS: {{ ansible_distribution }}
<TITLE>
<HEAD>
